@charset "UTF-8";

 #title{
            height : 16;
            font-family :'돋움';
            font-size : 20;
            text-align :center;
        }
        
#wrap {
            width: 1000px;
            margin: 0 auto 0 auto;
        }
     

#topForm{
            text-align :right;
            font-style :normal;
        }
<!-- 
#board, #pageForm{
            text-align :center;
        }
#searchForm{
	text-align : right;
}
        
#bList{
            text-align :center;
        }
<!--공지사항/이벤트 !-->
.tit-evt{
	position: relative;
}

.tit-heading-wrap{
	position: relative;
    height: 51px;
    margin-top: 30px;
    border-bottom: 3px solid #241d1e;
}

.tb-style{
	width: 1000; 
	border-style:solid; 
	border-color:black;
	
}
.dvtable-style{
	width:700; 
	border:3;
	bordercolor:lightgray;
	align:center;
}