@charset "UTF-8";
#title {
	font-size: 30px;
	font-weight: bold;
}
.divform {
	align: center;
	margin: 50px;
}
.btn-primary {
	margin: 0px
	align: center;
}
.form-control {
	
}
.txt {
	text-align: right;
}
input[type='text'], input[type='password'] {
    height: calc(1.5em + .75rem + 2px) !important;
    width: 100% !important;
}