a:link, a:visited, a:hover {
	color: black;
	text-decoration: none;
}

/* movieList S */
ol {
	list-style: none;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

ol li {
	list-style-type: none;
	float: left;
	margin: 20px;
}

/* �� �޴� S */
ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	/* background: #ededed; */
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}

/* �� �޴� E */

/* ��� ��ư S*/
.sort {
	padding-top: 10px;
	height: 20px;
}

.sort span {
	float: left;
	margin-top: 5px;
}

.toggleBG {
	float: left;
	background: #CCCCCC;
	width: 54px;
	height: 24px;
	border: 1px solid #CCCCCC;
	border-radius: 15px;
	margin: 5px;
	padding: 1px;
}

.toggleFG {
	background: #FFFFFF;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 15px;
	position: relative;
	left: 0px;
}

/* ��� ��ư E */
#moviePoster { /* ��� -> ������ */
	width: 280px;
	height: 370px;
}

#search { /* �˻��� */
	margin: 10px;
	width: 100%;
}

#search #keyword {
	margin-left: 10px;
}

#searchType { /* �˻�Ÿ�� : ex) ���� */
	height: 29px;
}
/* movieList E */

/* ---------------------------------------------- */

/* movieDetail S */
.info { /* ��ȭ�� ��� */
	overflow: auto;
	height: 500px;
	width: 100%;
	margin: 5px;
	padding: 5px;
}

.info::after {
	overflow: auto;
	height: 500px;
	width: 100%;
	background-image: url("../images/event1.jpg"); /* todo */
	opacity: 0.5;
}

#info #infoR {
	float: right;
	text-align: center;
}

#info #infoL {
	margin: 20px;
}

#info .title {
	font-size: 30px;
}

.btnDiv {
	margin-top: 20px;
}

a.ticketBtn {
	text-align: center;
	background-color: #689E8E;
	font-size: 20px;
	color: white;
	padding: 10px 70px 10px 70px;
	border-radius: 10px;
	text-decoration: none;
}

#detail {
	margin: 10px 30px 10px 0px;
}

/* movieDetail E */

/* admin */
#mvPoster {
	margin: 5px;
	height: 50%;
}

#topMvMenu {
	margin: 20px;
}

#mvList {
	width: 1000px;
	margin: auto;
}

#mvList table {
	width: 950px;
	margin: auto;
}

.btnGrpDiv {
	float: center;
	margin-top: 20px;
}

a.updateBtn {
	text-align: center;
	background-color: #F5DD92;
	font-size: 20px;
	color: white;
	padding: 10px 50px 10px 50px;
	border-radius: 10px;
	text-decoration: none;
	margin-right: 5px;
}

a.listBtn {
	text-align: center;
	background-color: #F5DD92;
	font-size: 20px;
	color: white;
	padding: 10px 50px 10px 50px;
	border-radius: 10px;
	text-decoration: none;
}

a.registBtn {
	text-align: center;
	background-color: #1F6096;
	font-size: 20px;
	color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	text-decoration: none;
}

#searchBtn {
	float: right;
	text-align: center;
	background-color: #1F6096;
	font-size: 15px;
	color: white;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 10px;
}

#movieTitle {
	font-size: 30px;
	font-weight: bold;
}

textarea{
	width: 100%!important;
}