@charset "UTF-8";
/* 
#title {
	font-size: 30px;
	font-weight: bold;
}
input[type='text'], input[type='password'] {
    height: calc(1.5em + .75rem + 2px) !important;
    width: 100% !important;
} */
