/* header.jsp S */
.top {
	float: right;
}

.top a {
	text-decoration: none;
	/* color:black; */
}
/* header E */

table {
	border-collapse: collapse;
	text-align: center;
}
.header {
	min-height: 70px;
}

.footer {
	max-height: 500px;
}