/* header.jsp S */
.topRmenu {
	float: right;
	margin: 20px 20px 0px 0px;
	min-height: 30px;
}

.topRmenu td {
	text-align: right;
}

.topRmenu a {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	height: 70px;
	font-size: 15px;
	margin-left: 20px;
	color: #689E8E !important;
}

.topRmenu a:hover {
	background-color: #E8E7EB;
	border-radius: 15px;
}
/* header E */

/* footer S */
.address {
	margin-top: 20px;
}

.foot .sect-cinfo .address {
	padding: 0 !important;
}
/* footer E */

a:focus {
	outline: none;
}

table {
	border-collapse: collapse;
	text-align: center;
}

body {
	width: 100%;
}

/* decorators S */
.header {
	min-height: 80px;
	margin-bottom: 10px;
	width: 100%;
}

.container {
	min-height: 300px;
}

.footer {
	max-height: 500px;
}
/* decorators E */

/* search S */
#search {
	margin: 10px 0 10px 10px;
	width: 100%;
}

#searchType, #keyword {
	height: 32px !important;
	border-radius: 5px;
	margin-right: 10px;
}

#menuSearchBtn {
	text-align: center;
	background-color: #EF956E;
	font-size: 15px;
	color: white;
	padding: 7px;
	border-radius: 10px;
	text-decoration: none;
}
/* search E */